name: ci
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: pip install mkdocs
      - name: Deploy
        run: |
          git config user.name ci-bot
          git config user.email ci-bot@example.com
          python -m mkdocs gh-deploy --force
